<header class="header container">
  <nav class="grid">
    <a class="" href=""><img class="" src="../../img/logo/logo.svg" alt="logo"></a>
    <ul class="nav col-4">
      <li class="nav__item"><a class="nav__link nav__link_primary" href="">Аналитика</a></li>
      <li class="nav__item"><a class="nav__link nav__link_primary" href="">Сообщество</a></li>
      <li class="nav__item"><a class="nav__link nav__link_primary" href="">Для организаций</a></li>
    </ul>
    <ul class="nav nav-right col-7">
      <li class="nav-right__item"><a href="" class="btn btn_primary">Создать заявку</a></li>
      <li class="nav-right__item"><a href="" class=""><img src="../../img/header/icon.svg" alt="icon"></a></li>
      <li class="nav-right__item"><a href="" class=""><img src="../../img/header/Login.svg" alt="login"></a></li>
    </ul>
  </nav>
</header>