<section class="how-it-works how-it-works_primary">
  <div class="container grid">
    <h2 class="title_primary justify-self-center col-12">Как это работает</h2>
    <div class="how-it-works__container col-12">
      <figure class="how-it-works__item">
        <div class="how-it-works__wrap how-it-works__wrap_primary"><img src="../../img/how-it-works/how-it-works1.png" alt=""></div>
        <figcaption class="how-it-works__text text_how-it-works">Оцените привлекательность темы</figcaption>
      </figure>
      <img src="../../img/how-it-works/arrow-right.png" alt="arrow in right" class="how-it-works__item how-it-works__arrow">
      <figure class="how-it-works__item">
        <div class="how-it-works__wrap how-it-works__wrap_primary"><img src="../../img/how-it-works/how-it-works2.png" alt=""></div>
        <figcaption class="how-it-works__text text_how-it-works">Выполните совместные исследования</figcaption>
      </figure>
      <img src="../../img/how-it-works/arrow-right.png" alt="arrow in right" class="how-it-works__item how-it-works__arrow">
      <figure class="how-it-works__item">
        <div class="how-it-works__wrap how-it-works__wrap_primary"><img src="../../img/how-it-works/how-it-works3.png" alt=""></div>
        <figcaption class="how-it-works__text text_how-it-works">Улучшите написанную работу</figcaption>
      </figure>
      <img src="../../img/how-it-works/arrow-right.png" alt="arrow in right" class="how-it-works__item how-it-works__arrow">
      <figure class="how-it-works__item">
        <div class="how-it-works__wrap how-it-works__wrap_primary"><img src="../../img/how-it-works/how-it-works4.png" alt=""></div>
        <figcaption class="how-it-works__text text_how-it-works">Продвиньте свою работу</figcaption>
      </figure>
    </div>
  </div>
</section>